@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans');

/* General HTML Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.9vh;
  height: 100%;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}

h2 {
	font-size: 38px;
}

h3 {
  font-size: 25px;
}

/* Start of Header and Navigation styling */

header {
  width: 100%;
  top: 0;
  background-color: #FFFFFF;
  position: sticky;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  overflow: hidden;
}

.navigation img {
  height: 300px;
  width: auto;
  margin-left: 20px;
  margin-top: -100px;
  margin-bottom: -100px;
}

.nav-links a {
  color: #000000;
  font-size: 2.2vh;
  text-decoration: none;
  margin-top: -5px;
  padding-right: 20px;
}

/* Start of Banner styling */

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 85vh;
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0, 0, 0, 0.01)), url('images/Banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: -1;
  padding: 0 1.5em;
}

.Banner h1 {
  margin-bottom: 40vh;
  font-size: 6.5vh;
  text-align: center;
  color: #3B5998;
}

.Banner p {
  text-align: center;
  font-size: 1.7vh;
}

/* Start of Welcome styling */

.Welcome, .About {
	height: auto;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.Welcome h2, .About h2, .Team h2 {
	margin-bottom: 10px;
}

.Welcome hr {
  width: 60%;
  height: 2px;
  background-color: #3B5998;
  border: 0 none;
  margin-bottom:30px;
}

.Box1 img, .Box4 img {
	max-width: 100%;
}

.Box4 img {
	margin-top: -3px;
}

.Welcome p, .About p, .Team p {
  padding-top: 5px;
  padding-bottom: 8px;
	margin-right: 2em;
	font-size: 18px;
}

.Box2, .Box3 {
  padding-left: 7em;
	padding-top: 5em;
}

/* Start of About styling */

.About h3, .Info h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.About hr {
  width: 25%;
  height: 2px;
  background-color: #3B5998;
  border: 0 none;
  margin-bottom:30px;
}

.About hr:last-of-type {
  width: 23%;
  height: 2px;
  background-color: #EB7859;
  border: 0 none;
  margin-bottom:30px
}

/* Start of Meet the Team styling */

.Team-Wrapper {
  background-color: #F8F9FA;
  margin-top: -3px;
}

.Team {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding-top: 5em;
}

.Team hr {
  width: 28%;
  height: 2px;
  background-color: #3B5998;
  border: 0 none;
  margin-bottom:30px;
}

.Profiles {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2em 1.5em;
}

.Profiles img {
  height: 200px;
  width: 100%;
  border-radius: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  height: auto;
}

.card {
  min-width: 250px;
}

.Info {
  background: white;
  border-radius: 5px;
  width: auto;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  height: 100px;
  text-align: center;
}

.Info hr {
  width: 75%;
  height: 2px;
  border: 0 none;
  text-align:center;
  margin: 0 auto;
  background-color: #EB7859;
  margin-bottom: 15px;
}
